<section>
  <h3>Reestablecer contraseña</h3>
  <p>
    Ingresa el codigo recibido por email
  </p>
  <form id="loginForm" action="/checkRecover" method="post">
    <label>Email</label>
    <input type="email" name="email" value={{email}} readonly="readonly">
    <br>
    <br>
    <label>Codigo</label>
    <input type="text" name="code" >
    <br>
    <br>
    <label>Nueva contraseña</label>
    <input type="password" name="newPassword" minlength="3">
    <br>
    <br>
    <button>Enviar</button>
  </form>
</section>
