<section>
  <h3>Login</h3>
  <form id="loginForm" action="/login" method="post">
    <label>Email</label>
    <input type="text" name="email">
    <br>
    <br>
    <label>Contrase単a</label>
    <input type="password" name="password">
    <br>
    <br>
    <button>Login</button>
    <br>
    <br>
    <a href="/github">Entrar con github</a>
    <br>
    <br>
    <small>多No tienes usuario? <a href="/register">Registrate</a></small>
    <br>
    <small>多Olvidaste tu contrase単a? <a href="/recover">Recuperar</a></small>
  </form>
</section>
