<section>
  <form action="/api/users/updateProfilePhoto" enctype="multipart/form-data" method="post">
    <div>
      <input type="file" name="profile_photo">
      <input type="submit" value="Enviar">            
    </div>
  </form>
  <a href="/api/users/profile"><button>Volver</button></a>
</section>