<section>
  <h3>Recuperar la contraseña</h3>
  <p>
    Ten en cuenta que recibiras un link con un limite de expiracion.
    Luego de una hora el link ya no funcionara
  </p>
  <form id="loginForm" action="/recover" method="post">
    <label>Email</label>
    <input type="email" name="email">
    <br>
    <br>
    <button>Login</button>
  </form>
</section>
